*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
.nav{
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.328);
    position: relative;
}
.nav.nav-header{
    display: inline;
}
.nav.nav-header.nav-title{
    display: inline-block;
    font-size: 22px;
    color: white;
    font-weight: 550;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    padding: 10px 10px 10px 10px;

}
.nav.nav-btn{
    display: none;
}










