 * {
     box-sizing: border-box;
   }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: rgba(28,26,26);
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: rgba(56, 172, 230);
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  .nav > .nav-links > ul li a{
    display: block;
    padding: 0 8px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;

  }
  .nav > .nav-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
    
  }
  .nav > .nav-links > ul li{
    display: inline-block;
    background-color: rgba(28,26,26);
    
    
  }
  .nav > .nav-links > ul li:hover{
      background-color: rgba(28,26,26);;
      border-radius: 5px;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav .nav-links ul a.icon{
    margin-left: 80px;
    margin-right: 10px;
  }

 .nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }
 .background-image1{
    background-image: url('./Pics/foto1.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

    /*  statr first text and btton*/
 }
  .abip{
   display: flex;
   flex-flow: wrap;
   justify-content: flex-start;
   flex-direction: column;
   padding: 350px 100px 150px 170px ;
   color: rgba(255, 255, 255, 0.895);

  }

  input{
   display: flex;
   flex-flow: wrap;
   justify-content: flex-start;
   flex-direction: column;
   width: 50px;
   border: 0;
   line-height: 2.5;
   padding: 0 20px;
   font-size: 1rem;
   text-align: center;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
   border-radius: 10px;
   background-color: rgba(56, 172, 230);
   box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  .button1{
    display: inline-flex;
    justify-content: center;
  }


  input:hover {
    background-color: rgba(56, 172, 230);
  }

  input:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
 /*  end first text and btton*/

 /* */
    /*  statr second text and btton*/
  .background-image2{
   background-image: url('./Pics/foto2.png');
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
  }
  .cambiamo{
   display: flex;
   flex-flow: wrap;
   justify-content: flex-start;
   flex-direction: column;
   padding: 350px 100px 150px 170px ;
   color: rgba(255, 255, 255, 0.989);
 
  }
 
  input{
   display: flex;
   flex-flow: wrap;
   justify-content: flex-start;
   flex-direction: column;
   width: 150px;
   border: 0;
   line-height: 2.5;
   padding: 0 20px;
   font-size: 1rem;
   text-align: center;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
   border-radius: 10px;
   background-color: rgba(56, 172, 230);
   box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
 }
 .button2{
   display: inline-flex;
   justify-content: center;
 }
 
 
 input:hover {
   background-color: rgba(56, 172, 230);
 }
 
 input:active {
   box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
 }
  /*  second first text and btton*/

      /*  statr third text and btton*/
 .background-image3{
   background-image: url('./Pics/foto3.png');
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
  }
 .magazine{
   display: flex;
   flex-flow: wrap;
   justify-content: flex-start;
   flex-direction: column;
   padding: 350px 100px 150px 170px ;
   color: rgba(255, 255, 255, 0.989);
      
  }
      
  input{
   display: flex;
   flex-flow: wrap;
   justify-content: flex-start;
   flex-direction: column;
   width: 150px;
   border: 0;
   line-height: 2.5;
   padding: 0 20px;
   font-size: 1rem;
   text-align: center;
   color: #fff;
   text-shadow: 1px 1px 1px #000;
   border-radius: 10px;
   background-color: rgba(56, 172, 230);
   box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  .button3{
   display: inline-flex;
   justify-content: center;
  }
      
      
  input:hover {
   background-color: rgba(56, 172, 230);
  }
      
  input:active {
   box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
       /*  second third text and btton*/

  footer{
    padding: 30px 20px 60px;
        /* a tre cfre top | left + right | bottom */
     }
  footer .colonna{
    padding: 10px 0;
    
    }
  footer .colonna h3{
    display: inline-block;
    font-size: 22px;
    color: rgba(56, 172, 230);
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
  }  
    footer .colonna a{
      color: #ffffff;
      text-decoration: underline;

    }
  footer .colonna a:hover{
    color: #009eee;
    }
  .menu_social{
    display: flex;
      /* flex-diretion:row; e il default
      flex-direction:column; colonne in verticale
      */
    padding: 30px;
    font-size: 30px;
    justify-content: space-around;
  
  }
  .wide{
    height: 300px;
    width: 100%;
    background-color: #060606f6;
    color: #fff;
    position: relative;
  }
  
  @media (max-width:750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      width: 100%;
    }

    /*   */


    
    .nav > .nav-links > ul li{
      display: block;
      margin-bottom: 20px;
      padding: 0;
      background-color: #333;
         
    }
    .nav > .nav-links > ul li a{
      margin-left: 40%;
    }
    .nav .nav-links ul a.icon{
      margin-left: 33%;
    }

    /*   */
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
    footer h4{ text-align: center;}
    .flexgrid img{
       width: 300px;
    }
  }








